header {
  .menu-bar1, .menu-bar2, .menu-bar3 {
    height: 0.2rem;
    background-color: #fff;
    margin: 0.5rem 0;
    transition: 0.4s;
  }

  .menu-bar1, .menu-bar3 {
    width: 2.5rem;
  }

  .menu-bar2 {
    width: 1.5rem;
    margin-left: auto;
  }

  .active {
    .menu-bar1 {
      animation: move-down 0.4s linear;
    }

    .menu-bar3 {
      animation: move-up 0.4s linear;
    }

    .menu-bar2 {
      animation: move 0.4s linear;
    }
  }
}

.navbar-brand {
  #logo {
    fill: $primary;
    transition: all 0.5s linear;
  }

  #brand, #slogan {
    fill: $white;
    transition: all ease-in-out 0.3s;
  }
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes move-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes move-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
body {
  &.tax-works_categories .current-menu-parent,
  &.tax-portfolio_categories .current-menu-parent,
  &.single-portfolio .menu-item-object-portfolio,
  &.single-works .menu-item-object-works {
    a {
      font-weight: bold;
      color: $primary !important;
    }
  }
}
.current-product_cat-ancestor,
.current_page_parent,
.current-menu-item {
  & > .nav-link:first-child {
    font-weight: bold;
    color: $primary !important;
  }
}
.current_page_item {
  font-weight: bold;
  svg{
  color : $primary!important;
  }
  a {
    color : $primary!important;
  }
}
.sub-menu {
  padding-left: 10px!important;
  list-style: none;
  justify-content: start;
  display: grid;
  grid-column: span 2;
  @extend .border-start, .border-primary;
  a {
    @extend .fs-6;
  }
}
li.menu-item-has-children {
  button svg {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  }
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: center;
}
body.home {
  .btn-link svg {
      color:white;
  }
}
.menu-item a{
  &:hover {
    color: $primary!important;
  }
}
#navbarHomeMenu ,#navbarMenuMobile {
  li.menu-item-has-children {
      margin-left: 30px;
  }
}
